.sebm-google-map-container {
  height: 200px;
  width: 500px;
}

.address-input{
  width: 83%;
  float: right;
}

.icon-img{
  /*width: 45px;
  height: 45px;*/
  cursor: pointer;
}

.pop-up-element{
  font-size: 15px !important;
}

.pop-up-ul{
  margin: 1px !important;
}
