<button class="btn btn-primary glyphicon glyphicon-cog" (click)="addressShown = !addressShown;" title="Address"></button>
<!--button class="btn btn-success glyphicon glyphicon-flag" (click)="languageShown = !languageShown;addressShown=false;" title="Language"></button-->

<div *ngIf="addressShown" role="dialog" style="z-index: 999999;position: fixed;direction: rtl;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="addressShown=false;">&times;</button>
      </div>
      <div class="modal-body">
        <label>כתובת:</label>
        <div >
          <input type="text" class="form-control col-md-10 address-input" id="inputSuccess" [(ngModel)]="chosenAddress" >
          <button class="btn btn-info col-md-2" (click)="onFindAddress()" title="Language">מצא</button>
        </div>
        <label>{{verifiedAddress}}</label>
        <br>
        <!--label>IconUrl</label>
        <input class="form-control" [(ngModel)]="iconUrl" title="icon"-->
        <ul>
          <img *ngFor="let icon of icons;let i=index;" src="{{icon}}" class="icon-img"
                  (click)="iconUrl=icon;">
        </ul>
        <div style="width: 13%;float: right;">
          <label>אות לסימון:</label>
          <input class="form-control" [(ngModel)]="title" title="title" style="width: 95%;">
        </div>
        <div>
          <label>כותרת:</label>
          <input class="form-control" [(ngModel)]="label" title="label" style="width: 87%;" >
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="onChooseAddress();addressShown=false;">בחר</button>
      </div>
    </div>
  </div>
</div>

<!--div *ngIf="languageShown" >
  <label>langua</label>
</div-->

<sebm-google-map
  [latitude]="mapS.lat"
  [longitude]="mapS.lng"
  [zoom]="mapS.zoom"
  [mapDraggable]="mapS.isDrag"
  [zoomControl]="mapS.isZoom"
  [scaleControl]="mapS.isScale"
>

  <sebm-google-map-marker *ngFor="let m of markers; let i = index"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                          [title]="m.title"
                          [iconUrl]="m.iconUrl">
  </sebm-google-map-marker>
</sebm-google-map>

