<button class="btn btn-primary glyphicon glyphicon-cog" (click)="addressShown = !addressShown;" title="Address"></button>
<!--button class="btn btn-success glyphicon glyphicon-flag" (click)="languageShown = !languageShown;addressShown=false;" title="Language"></button-->

<div *ngIf="addressShown" role="dialog" style="z-index: 999999;position: fixed;direction: rtl;width: 280px;"
     class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable secondLevel">
  <!--div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"-->
    <div class="modal-content">
      <!--div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" (click)="addressShown=false;">&times;</button>
      </div-->
      <div class="pop-up-element ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
        <span id="ui-id-4" class="ui-dialog-title">הוספת סמן</span>
        <button type="button" (click)="addressShown=false;" style="float: right" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close">
          <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
          <span class="ui-button-text"  >Close</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="pop-up-element title">כתובת:</div>
        <div >
          <input type="text" class="pop-up-element color ignore" [(ngModel)]="chosenAddress" style="float: right;" >
          <button (click)="onFindAddress()" title="Language" class="pop-up-element" >מצא</button>
        </div>
        <div class="title">{{verifiedAddress}}</div>
        <br>
        <ul class="pop-up-ul">
          <img *ngFor="let icon of icons;let i=index;" src="{{icon}}" class="icon-img"
                  (click)="iconUrl=icon;">
        </ul>
        <div style="float: right;width: 20%;">
          <div class="pop-up-element title">אות:</div>
          <input class="pop-up-element color ignore" [(ngModel)]="title" title="title" style="width: 95%" >
        </div>
        <div>
          <div class="pop-up-element title">כותרת:</div>
          <input class="pop-up-element color ignore" [(ngModel)]="label" title="label"  >
        </div>
      </div>
      <div class="modal-footer">
        <button style ="background: #f7f7f7" (click)="onChooseAddress();addressShown=false;" class="pop-up-element">הוסף כתובת</button>
      </div>
    </div>
  <!--/div-->
</div>


<sebm-google-map
  [latitude]="mapS.lat"
  [longitude]="mapS.lng"
  [zoom]="mapS.zoom"
  [mapDraggable]="mapS.isDrag"
  [zoomControl]="mapS.isZoom"
  [scaleControl]="mapS.isScale"
>

  <sebm-google-map-marker *ngFor="let m of markers; let i = index"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                          [title]="m.title"
                          [iconUrl]="m.iconUrl">
  </sebm-google-map-marker>
</sebm-google-map>

